.header {
  background-color: $color-primary;
  color: #000;
  padding: $main-spacing * 2 0;
  margin-bottom: $main-spacing;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo {
    margin-right: $main-spacing;
    width: $main-spacing * 3;
    visibility: hidden;
  }
}