$base-font-size: 22px;
$small-font-size: 16px;

$font-family: 'Roboto',
sans-serif;
$font-family-header: 'Lobster',
cursive;

$main-spacing: 20px;
$max-width: 1000px;

$color-primary: #fadcc8;

$breakpoints: (xs: 500px,
  sm: 800px,
  md: 1000px,
)